.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutters/2*-1;
  margin-right: $gutters/2*-1;
}

.row > * {
  padding-left: $gutters/2;
  padding-right: $gutters/2;
}

@each $prefix, $value in ($prefixes-mq) {
  @for $i from 1 through $columns-number {
    $val: 100% * $i / $columns-number;
    @if $prefix == "" {
      .col-#{$i} {
        width: $val;
      }
      .col-push-#{$i} {
        margin-left: $val;
      }
      .col-order-#{$i} {
        order: $i;
      }
    } @else {
      @include mq($value) {
        $scope: #{$prefix}#{"\\:"};
        .#{$scope}col-#{$i} {
          width: $val;
        }
        .#{$scope}col-push-#{$i} {
          margin-left: $val;
        }
        .#{$scope}col-order-#{$i} {
          order: $i;
        }
      }
    }
  }
}