$primary: hsl(180, 29%, 50%);

//$lime-green: hsl(163, 72%, 41%);
//$bright-red: hsl(356, 69%, 56%);
//
//$facebook: hsl(195, 100%, 50%);
//$twitter: hsl(203, 89%, 53%);
//$instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
//$youtube: hsl(348, 97%, 39%);

$body-bg-color: hsl(180, 52%, 96%);
$filter-bg-color: hsl(180, 31%, 95%);
$dark-gray-cian: hsl(180, 8%, 52%);
$very-dark-gray-cian: hsl(180, 14%, 20%);
